<div class="users row">
  <% @users.each do |user| %>
    <div class="col-sm-3">
      <div class="row">
          <div class="col-sm-12">
            <%= image_tag avatar_url(user, 150), class: 'img-circle img-responsive center-block' %>
            <hr>
            <p class="text-center text-danger"><strong>User:</strong> <%= user.username.capitalize %></p>
          </div>
      </div>
      <div clas="row">
        <div class="col-sm-12">
        <p class="text-center">
          <%= link_to 'Profile', user_path(user), class: 'btn btn-info' %>
        </p>
        </div>
     </div>   
    </div>
  <% end %>
</div>
