<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Your idea needs a great website</h1>
    <span class="label label-success center-block">It's surprisingly easy to create a unique website or blog</span>
    <hr>
    <div class="well">
    <h2>Blog Services</h2>
    <h4>Why blog?</h4>
    <p>Blogging makes up an incredibly large part of the internet. Some of the highest-ranked media sites started as blogs. Blog services are so popular because they are accessible. It's the easiest and quickest avenue for those without HTML web creation talents to get their message online. This accessibility is largely due to many blog sites being free. Casual bloggers are able to post for fun. However, paid blog hosting allows you to access premium tools to attract traffic and start making money.</p>
    <p>The two most common types of blogs are personal and professional. Personal blogs range from online journals and family blogs to special interests. These blogs can be about daily events and hobbies, or just hosts for images. Depending on the blogger, they can be shared to major search engines or be made private. Professional blogs promote products, provide consumer education and share business news. The content on these sites can be great marketing tools and also provide advice. Unless it's an internal page, these are shared publicly.</p>
    <h4>Services</h4>
    <p>Service Blogger brings your website to life by providing you with an innovative blogging platform and professional team of writers that create custom, original and local content for your business. Service Blogger helps you and your business increase local exposure, build trust in your local coverage area and build long lasting profitable relationships with your customers.</p>
    <p>We Help You Become The Local Go-To Expert- Build trust and position you and your business as the local market leader. Your team of writers will work with you to develop content that educates and informs local readers about company news and events, reviews of products you sell, details of services you offer, stories of satisfied customers and more.</p>
    <p>Increase Traffic and Local Exposure to Your Website- Grow your website and gain authority. Blogging is an easy way to increase your website traffic and maximize your online presence. Each and every blog post we develop adds one more permanent opportunity to get found by prospective buyers. By optimizing content with the most relevant keywords to your industry, search engines crawl your blog posts for keywords just like any other page on your site.</p>
    </div>
  </div>
</div>
