<h1>Editors: <%=@blog.name %></h1> 
<hr>
<% unless @editors.empty? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Action</th>
    </tr>
  </thead>
    <% @editors.each do |editor| %>
      <tr>
        <td><%= editor.user.username %></td>
        <td><%= link_to 'Destroy', blog_editor_path(@blog, editor), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</table>
<% else %>
  <p>
    Click <%= link_to 'Here', new_blog_editor_path %> for add New Editor
  </p>
<% end %>
