<h2>
  <%= link_to sanitize(post.title), post %>
</h2>
<p class="lead">
  by <a href="#">Admin</a>
</p>
<p>
  <span class="glyphicon glyphicon-time"></span> Posted on: <%= time_ago_in_words post.updated_at %>
</p>
<hr>
<%= truncate(sanitize(post.body), lenght: 120)%>
<hr>
<%= link_to 'Read More', post, :class =>'btn btn-primary' %>
